.card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 300px;
    margin: 0 auto;
}

.image {
    display: block;
    margin: 0 auto;
}

.title {
    text-transform: capitalize;
    font-size: 2rem;
    text-align: start;
    padding-bottom: 1rem;
}

.price {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

@media(max-width: 959px) {
    .card {
        width: 360px;
    }
}

@media(max-width: 599px) {
   .card {
        width: 100%;
    }
}
