.header {
    height: 80px;
}

.nav {
    height: 100%;
    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.linkHome {
    display: flex;
    gap: 12px;
}

.input {
    border-radius: 15px;
    width: 100%;
    padding: 10px 24px;
}

.input[placeholder] {
    font-size: 1rem;
    color: #333;
}

.searchWrapper {
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
}

.searchIcon {
    width: 20px;
    display: block;
}

.iconMobile {
    display: none;
}

.iconDesktop {
    display: block;
}

@media(max-width: 959px) {
    .header {
        height: 130px;
    }

    .nav {
        padding: 0 10px;
        flex-direction: column;
        gap: 2px;
    }

    .linkHome {
        margin-top: 4px;
    }

    .logo {
        padding: 18px;
    }

    .iconDesktop {
        display: none;
    }

    .iconMobile {
        display: block;
    }
}
