.cartOverlay, .cartContainer {
    z-index: 10;
    overflow-x: hidden;
}

.cartOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
}

.cartContainer {
    position: absolute;
    height: calc(100vh - 80px);
    overflow-y: auto;
    right: 0;
    width: 40vw;
    top: 80px;
    background-color: white;
    padding: 1rem;
    animation: slideIn 500ms forwards;
}

.cartTilteContainer {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listItem {
    display: flex;
    gap: 16px;
}

.listEmptyCart {
    font-size: 1.5rem;
    color: #333;
}

.listImage {
    box-shadow: 0 5px 12px 3px rgba(0, 0, 0, .1), 0 2px 4px 1px rgba(0, 0, 0, .06);
    border-radius: 10px;
}

.listNamePrice {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.listPokemonName {
    text-transform: capitalize;
    font-size: 1.4rem;
}

.listButtons {
    display: flex;
    align-items: center;
    gap: 12px;
}

@keyframes slideIn {
    from {
        transform: translateX(1000px);
    }

    to {
        transform: translateX(0);
    }
}

@media(max-width: 959px) {
    .cartContainer {
        width: 95%;
        height: 100vh;
        top: 0;
    }
}
