.card {
    width: 300px;
    height: 300px;
    background: #e0e0e0;
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
}

.square, .line, .rectangle {
    background-color: rgba(94, 94, 94, 0.2);
}

.square {
    position: absolute;
    width: 130px;
    height: 100px;
    border-radius: 10px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
}

.line {
    position: absolute;
    width: 80%;
    height: 15px;
    top: 45%;
    right: 10%;
    border-radius: 10px;
}

.line:nth-child(2) {
    top: 55%;
}

.line:nth-child(3) {
    top: 65%;
}

.rectangle {
    position: absolute;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    right: 50%;
    left: 50%;
    top: 75%;
    transform: translate(-50%, 20%);
}

@media(max-width: 599px) {
    .card {
        width: 100%;
    }

    .line {
        width: 80%;
    }

    .rectangle {
        width: 50%;
    }
}
