.cardContainer {
    background-color: white;
    border-radius: 30px;
    margin-bottom: .5rem;
    padding: 5px;
}

.priceContainer {
    color: #011638;
}

.titleContainer {
    color: #1D4E89;
}
